<div class="container">
  <div class="row align-items-center vh-100">
    <div class="col-6 mx-auto">
      <div class="card shadow border">
        <div class="card-body d-flex flex-column align-items-center">
          <table class="table">
            <thead >
              <tr>
                <th class="text-center" colspan="3">Your Details</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Name</th>
                <td >{{details.name}}</td>
                <td ><button class="btn btn-dark">Edit</button></td>
              </tr>
              <tr>
                <th scope="row">Email</th>
                <td>{{details.email}}</td>
                <td><button class="btn btn-dark">Edit</button></td>
              </tr>
              <tr>
                <th scope="row">username</th>
                <td>{{details.username}}</td>
                <td><button class="btn btn-dark">Edit</button></td>
              </tr>
            </tbody>
            <!-- <tfoot class="d-flex justify-content-center mt-2 w-100"> -->
              
            <!-- </tfoot> -->
          </table>
          <button class="btn btn-danger w-100" (click)="deleteUser()">Delete Your Account</button>
        </div>
      </div>
    </div>
  </div>
</div>
